$sizes: 5 10 15 20 25 30 33 35 40 45 50 60 65 67 70 75 80 85 90 95 100;
$directions: column row;
$wrap: wrap nowrap wrap-reverse;
$alignContent: flex-start flex-end center stretch space-between space-around;
$alignItems: flex-start flex-end center stretch baseline;
$justify: flex-start flex-end center space-between space-around;
$gaps: 5px 8px 10px 15px 16px 20px 24px 25px 1em 2em 3em;
$gapsPercent: 1 2 3 4 5 6 7 8 9 10;

@mixin flexWidth( $width ) {
	flex-basis: #{$width};
}

@each $size in $sizes {
	.flex-#{$size} {
		display: initial;
		flex-basis: $size * 1%;
	}
}

@each $gap in $gaps {
  .flex-gap-#{$gap} {
    gap: $gap;
  }
}

@each $gap in $gapsPercent {
  .flex-gap-#{$gap} {
    gap: $gap * 1%;
  }
}

@each $breakpoint, $query in $breakpoints {
	@each $size in $sizes {
		@media #{$query} {
			.flex-#{$breakpoint}-#{$size} {
				display: initial;
				flex-basis: $size * 1%;
			}
		}
	}
	.flex-hide-#{$breakpoint} {
		@media #{$query} {
			display: none;
		}
	}
}


.flex {
	display: flex;

	@each $item in $directions {
		&.#{$item} {
			flex-direction: $item;
		}
	}

	@each $item in $wrap {
		&.#{$item} {
			flex-wrap: $item;
		}
	}

	@each $item in $alignContent {
		&.align-content-#{$item} {
			align-content: $item;
		}
	}

	@each $item in $alignItems {
		&.align-items-#{$item} {
			align-items: $item;
		}
		.align-self-#{$item}{
			align-self: $item;
		}
	}

	@each $item in $justify {
		&.justify-#{$item} {
			justify-content: $item;
		}
	}
}
