// Source: http://blog.scur.pl/2012/06/variable-media-queries-less-css/
$breakpoints: (highdensity: "only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5)",
	mobile:      "only screen and (max-width: 529px)",
	tablet:      "only screen and (min-width: 530px) and (max-width: 949px)",
	desktop:     "only screen and (min-width: 950px) and (max-width: 1128px)",
	desktop-xl:  "only screen and (min-width: 1129px)");

@import './_mediaQueries.scss';
